// Location: packages/client/src/components/game/Row/Row.module.scss

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-sm);
  width: 100%;

  &.invalid {
    animation: shake var(--animation-medium) cubic-bezier(.36, .07, .19, .97) both;
  }
}

/* For some browsers that don't support the global animation we defined */
@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-6px); }
  30% { transform: translateX(6px); }
  50% { transform: translateX(-6px); }
  70% { transform: translateX(6px); }
  90% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}
